<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Django+PyOFC2 Demo App</title>
	<meta name="author" content="Pradeep Gowda">
	<!-- Date: 2009-04-15 -->  
	<script type="text/javascript" src="/static/swfobject.js"></script>
    <script type="text/javascript">
    	swfobject.embedSWF(
    	  "/static/open-flash-chart.swf", "chart_demo",
    	  "820", "400", "9.0.0", "/static/expressInstall.swf",
    	  {"data-file":"/data/"} );
    </script>
</head>
<body>
  <h1>Django+PyOFC2 Demo</h1>
  <div class="chart" id="chart_demo"></div>
</body>
</html>
